.header-main{
    position: sticky;
    top:0;
    left:0;
    right:0;
    z-index: 999;
    border-bottom: 2px solid var(--primary-color);
}
.header__pc-top {
    background-color: var(--primary-color);
}
.header__top-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}
.header__phone {
    display: flex;
    gap: 10px;
}
.header__phone .phone_number {
    color: #fff;
    font-weight: lighter;
    font-size: 14px;
}
.header__socal {
    display: flex;
    gap:15px;
    align-items: center;
}
.header__pc-nav {
    background-color: #fff;
}
.header__pc-logo {
    height: 95px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.header__pc-container {
    display: flex;
    justify-content: space-between;
}
.header__pc-content {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__list {
    display: flex;
    gap: 20px;
}
.header__link {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 25px;
    border-radius: 15px;
    border: 1px solid #fff;
    text-transform: uppercase;
}
.header__link:hover {
    border-color: #a5a5a6;
}
/* navigation mobile */
.header-mobile__top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__mobie {
    display: none;
    overflow: hidden;
}
.header-mobile__list {
}
.header-mobile__item {
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #e1e1e1;
}
.header-mobile__item:last-child {
    border: none;
}
.header-mobile__list {
    font-size: 15px;
}
.header__mobie-container {
    box-shadow: 1px 5px 20px #dfdfdf;
}
.header-mobile__item:hover, .header-mobile__item:active {
    color: var(--primary-color)
}
.header_pc-fix {
    display: none;
}
.header__logo-fix {
    height: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}
.header__logo-fix img {
    height: 70%;
}