
:root{
    --primary-color: #a42e2e;
    --secon-color: #4972bf;
    --text-color: #2a2a2a;
    --rose-red-color: #e66161;
    --orange-color: #f18351;
    --yellow-color: #ebba51;
    --blue--color: #617de6;
    --p-color: #939292;
    --heading-color: #9c9c9c;
    --font-body: 'Helvetica', Arial , Helvetica, sans-serif;
    --font-heading: HLT;
    --font-number: SVN;
}
body{
    font-size: 14px;
    font-family: var(--font-body);
    scroll-behavior: smooth;
}
.wrapper{
    width: 100%;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn--primary{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    font-family: Helvetica;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 28px;
    display: inline-block;
}
.img_respon{
    max-width: 100%;
    height: auto;
}
h2{
    font-family: var(--font-heading);
    font-size: 70px;
}
.heading__title{
    font-family: var(--font-heading);
    color: var(--secon-color);
    font-weight: lighter;
    font-size: 70px;
}
.heading__desc{
    font-size: 20px;
    font-family: var(--font-body);
}
.line-red{
    width: 120px;
    height: 3px;
    background-color: var(--primary-color);
}
.btn--primary:hover , .btn--primary:active {
    box-shadow: 2px 5px 15px var(--primary-color);
}
.img_max {
    width: 100%;
}
.active {
    border-color: #a5a5a6 !important; 
}
.active1 {
    color: var(--primary-color);
}